{% extends 'padre.html' %}

{% load static %}

        {% block content %}


        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Búsqueda de Animadores</h2>
                            <h3 class="post-subtitle">La empresa Lorem se encuentra en búsqueda de animadores</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Carlos Jolly</a>
                            on September 24, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">Carlos Jolly de a poco está entendiendo más Django</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Carlos Jolly</a>
                            on September 18, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                   
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Otros posteos →</a></div>
                </div>
            </div>
        </div>


        <!-- Footer-->

            
        {% endblock %}


